body {
    margin: 0;
    height: 100%;
}

html, body {
    height: 100%;
    overflow: hidden;
}
html {
    background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
}

#app {
    min-height: 100%;
    position: relative;
    z-index: 9999;
    height: 100%;
    width: 100%;
    
}

/* #app img {
    max-width: 150px;
    display: inline-block;
    max-height: 150px;
    margin: 20px;
} */

#player {
    width: 150px;
    height: 150px;
    background-size: contain;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 75px);
    transition: all 0.3s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
}

#player.skin1 {
    background-image: url(../images/space-ship-1.png);
}
#player.skin2 {
    background-image: url(../images/space-ship-2.png);
}
#player.skin3 {
    background-image: url(../images/x-wing.png);
}


.bullet {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 4px;
    height: 20px;
    background-color: white;
    border-radius: 6px/10px;
    box-shadow: 0px 0px 10px,
                0px 0px 2px inset;
    animation: glow 1.5s linear infinite;
    z-index: 9999;
}

@keyframes glow {
    from {
        color: lime;
        box-shadow: 0 0 9px lime;
    }
    50% {
        color: lime;
        box-shadow: 0 0 18px lime;
    }
    to {
        color: lime;
        box-shadow: 0 0 9px lime;
    }
}

.bullet2 {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 8px;
    height: 20px;
    background-color: rgba(95, 136, 170, 0.623);
    border-radius: 6px/10px;
    box-shadow: 0px 0px 10px,
                0px 0px 2px inset;
    animation: glow1 1.5s linear infinite;
    z-index: 9999;
}

@keyframes glow1 {
    from {
        color: rgb(78, 114, 160);
        box-shadow: 0 0 9px lime;
    }
    50% {
        color: rgb(107, 108, 192);
        box-shadow: 0 0 18px rgb(255, 238, 6);
    }
    to {
        color: rgb(94, 154, 194);
        box-shadow: 0 0 9px rgb(159, 241, 7);
    }
}
/********************
    ENEMY
*********************
*/
.enemy {
    width: 150px;
    height: 150px;
    background-size: contain;
    position: absolute;
    top: -150px;
    left: calc(50% - 75px);
    transition: all 0.3s ease-out;
    z-index: 9999;
}

.enemy.skin1{
    background-image: url(../images/enemy.png);
}

.enemy.skin2{
    background-image: url(../images/enemy2.png);
    background-repeat: no-repeat;
}
.enemy.skin3{
    background-image: url(../images/enemy3.png);
    background-repeat: no-repeat;
}

.enemy.boom,
.asteroid.boom {
    background-image: url(..//images/explotion-explode.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 137px;
    height: 200px;
}
.enemy.boom2 {
    background-image: url(..//images/explotion-explode2.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 137px;
    height: 200px;
}
.enemy.boom3 {
    background-image: url(..//images/explotion-explode3.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 137px;
    height: 200px;
}

.asteroid {
    width: 100px;
    height: 65px;
    background-image: url(..//images/asteroid1.png);
    position: absolute;
    top: -60px;
    left: 40%;
    transition: all 0.3s ease-out;
    transform: rotate(45deg);
    z-index: 9990;
}

.start-game,
.end-game {
    width: 400px;
    height: 300px;
    background: #FFFF;
    border-radius: 10px;
    margin: 10% auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
padding: 20px;
position:absolute;
top: calc(50% - 400px);
left: calc(50% - 200px);
z-index: 9999;
} 

.start-game h1,
.end-game h1,
.end-game h2{
    font-family: monospace;
    text-align: center;
    font-size: 28px;
    color: #673FD7;
   
}


    
.start-game button,
.end-game button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 30px auto;
  display: block;
}

.start-game button:hover,
.end-game button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.start-game .skins{
    display: flex;
}

.select-skin{
    width: 30%;
    height: 120px;
    margin: 5px;
    border: 2px solid #a30ca3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.select-skin.skin-1{
    background-image: url(../images/space-ship-1.png);
}


.select-skin.skin-2{
    background-image: url(../images/space-ship-2.png);
}

.select-skin.skin-3{
    background-image: url(../images/x-wing.png);
}

.skins>input{
    display: none;
}

.skins input[type=radio]:checked + label{
    border: 3px solid rgb(62, 218, 23);
}

/**
+++++++++++++++++++++++++++
    Menu
****************************
*/

.menu .sound svg{
    width: 50px;
    height: 50px;
    fill: #d0e6a7;
}

.menu .sound {
    cursor: pointer;
}

.menu .lifes{
    display: flex;
}


.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    z-index: 9999;
}
.menu .lifes span
 {
    background: url(../images/heart.svg);
    width: 50px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.score,
.score span{
    font-size: 28px;
    color: #FFFFFF;
}
.score {
    left: 20px;
    position: relative;
}

/*
===================================
                Game Over
===================================
*/
.end-game svg{
    margin: 0 auto;
    display: block;
    height: 120px;
    width: 120px; 
}

.game-elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

/*
==============================
            planets
==============================
*/
.planet {
    position: absolute;
    top: -300px;
    left: 30px;
    transition: all 0.3s ease-out;
    z-index: 1;
    background-size: contain !important;
}

.planet.skin-1{
    width: 500px;
    height: 500px;
    background: url(../images/planet1.png);
}

.planet.skin-2{
    width: 300px;
    height: 300px;
    background: url(../images/planet2.png);
}
.planet.skin-3{
    width: 450px;
    height: 450px;
    background: url(../images/death-star.png);
}
.planet.skin-4{
    width: 250px;
    height: 250px;
    background: url(../images/planet3.png);
}


/**
========
helpers
========
**/
.hidden{
    display: none;
}

/*
=========
Bonuses
=========
*/

.lifesBonus {
    background: url(../images/heart.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    top: -160px;
    left: 40%;
    transition: all 0.3s ease-out;
    z-index: 9999;
    background-size: contain;
}

.bonusBomb {
    background: url(../images/bomb.png);
    width: 128px;
    height: 128px;
    position: absolute;
    top: -160px;
    left: 40%;
    transition: all 0.3s ease-out;
    z-index: 9999;
    background-size: contain;
}

.bonusBomb.boom {
    background-image: url(..//images/explotion-explode2.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 138px;
    height: 138px;
}